body {  
    background-color: #9bb3c7;
    text-align: center;
}

h1 {
    font-size: 30px;
    color: #4CAF50;
}

p {
    font-size: 20px;
}

form {
    display: inline-block;
}

#ten, #fifteen, #twenty, #custom, #convert {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type="number"] {
    width: 75px;
}

input[type = "text"] {
    background-image: url(images/add.png) no-repeat scroll 30px 30px;
    padding-right: 30px;
}